@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Raleway-Regular.ttf) format("ttf"),
  url(/fonts/Raleway-Regular.woff) format("woff"),
  url(/fonts/Raleway-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Raleway-Bold.ttf) format("ttf"),
  url(/fonts/Raleway-Bold.woff) format("woff"),
  url(/fonts/Raleway-Bold.woff2) format("woff2");
}

*{
  margin: 0;
  padding: 0;
}

.page {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.header {
  width: 1440px;
  padding-top: 92px;
  margin: 0 0 92px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-family: 'Raleway';
  font-weight: 400;
}

/* *____* */

.header__links {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-left: 50px;
  width: 360px;
  height: 24px;
}

.header__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link {
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: 'Raleway';
  font-weight: 400;
}

.header__link_decoration_off {
  text-decoration: none;
}

.header__list-marker {
  width: 7px;
  max-height: 7px;
  padding-top: 7px;
  padding-right: 16px;
}

.header__list-marker {
  height: 12px;
}

.header__info {
  margin-top: 5px;
  margin-right: 50px;
}

.jambotron {
  position: relative;
  width: 1440px;
  height: 757px;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: column;
  background-image: url(./images/lotus-flower.jpg);
}

.jambotron__title {
  color: white;
  z-index: 1;
  font-family: 'Raleway';
  font-size: 100px;
  height: 100px;
  display: inline-block;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 35px;
}

.place_top {
  margin: 165px 0 0 50px
}

.place_mid {
  text-align: center;
}

.place_bot {
  margin-top: 30px;
  margin-right: 50px;
  text-align: end;
}

.jambotron__subline {
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway';
  line-height: 28px;
  font-size: 22px;
  word-spacing: 16px;
  text-align: center;
  margin-top: 150px;
}

.jambotron__button {
  position: absolute;
  right: 42px;
  bottom: 74px;
  padding: 12px;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  line-height: 22px;
  font-size: 22px;
  text-decoration: none;
  border: 1px white solid;
  display: inline-block;
  width: 257px;
}

.overlay {
  position: absolute;
  z-index: 0;
  background-color: black;
  width: 1440px;
  height: 757px;
  opacity: 0.6;
}


.lots {
  margin: 0 0 180px 0;
}

.lots__title {
  margin: 0 0 27px 90px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 0 auto 30px;
}

.card {
  margin: 0 25px 0 0;
  width: 430px;
  height: 450px;
  display: flex;
  position: relative;
}

.card:first-of-type {
  margin-left: 50px;
}

.card:last-of-type {
  margin-right: 0;
}

.card__title {
  width: 350px;
  position: absolute;
  top: 50px;
  left: 40px;
  color: white;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  z-index: 1;

}

.card__paragraph {
  position: absolute;
  bottom: 50px;
  left: 40px;
  width: 350px;
  color: white;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;

}

.card__overlay {
  background-color: black;
  position: absolute;
  z-index: 0;
  width: 430px;
  height: 450px;
  opacity: 0.6;
}


.card__photo {
  width: 430px;
  height: 450px;
}

.lots__button {
  margin: 0 0 0 90px;
  color: black;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: underline;
}

.about {
  display: flex;
  margin: 0 0 180px 0;
}

.about__logo {
  width: 430px;
  height: 240px;
}

.about__column {
  display: flex;
  flex-direction: column;
  margin: 100px 50px 0 25px;
}

.about__title {
  margin-bottom: 100px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__paragraph {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 30px 0;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.footer {
  margin: 0 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  width: 240px;
}

.footer__contacts-paragraph {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-button {
  color: black;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-button:first-of-type {
  text-decoration: none;
}

.footer__icon {
  margin: 0 48px 0 0;
}

.footer__icon:last-of-type {
  margin-right: 0;
}