@import url(../fonts/fonts.css);

.page {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.header {
  max-width: 1340px;
  margin: 92px 50px 92px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header__logo-container {
  width: 135px;
  margin-right: 150px;
}

.header__logo {
  width: 135px;
  height: 104px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  margin: 42px 0 0px 0px;
}

.header__link {
  display: list-item;
  color: black;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  list-style: circle;
  margin-right: 32px;
}

.header__link:first-of-type {
  list-style: none;
  text-decoration: none;
}

.header__link:last-of-type {
  margin-right: 0;
}

.info {
  width: 240px;
}

.info_place_header {
  margin-top: 5px;
}

.info__paragraph {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}

.cover {
  position: relative;
  max-width: 1440px;
  min-height: 757px;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__title {
  color: white;
  z-index: 1;
  font-family: 'Raleway';
  font-size: 100px;
  display: block;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  height: 422px;
  margin-top: 164px;
  margin-left: 50px;
  position: relative;
}

.title__middle-word {
  position: absolute;
  top: 128px;
  left: 456px;
  letter-spacing: 0.3em;
}

.title__bottom-word {
  position: absolute;
  bottom: 60px;
  left: 925px;
  letter-spacing: 0.6em;
}

.letter-small-accent {
  letter-spacing: 0.3em;
}

.zero-accent {
  letter-spacing: normal;
}

.letter-accent {
  letter-spacing: .6em
}

.subline-container {
  margin: 81px 0 0 422px;
  display: flex;

}

.cover__subline {
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-size: 22px;
  word-spacing: 16px;
  text-align: center;
}

.cover__button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  padding: 14px;
  z-index: 1;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 22px;
  text-decoration: none;
  border: 1px white solid;
  display: inline-block;
  width: 257px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}


.lots {
  margin: 0 0 180px 0;
}

.lots__title {
  margin: 0 0 27px 90px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 30px 50px;
}

.card {
  margin: 0 25px 0  0;
  max-width: 430px;
  width: 100%;
  min-height: 450px;
  display: flex;
  position: relative;
  gap: 25px
}

.card:last-of-type {
  margin-right: 0;
}

.card__title {
  max-width: 352px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 40px;
  color: white;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  z-index: 1;
  text-transform: uppercase;

}

.card__paragraph {
  position: absolute;
  bottom: 50px;
  left: 40px;
  max-width: 350px;
  width: 100%;
  color: white;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;

}


.card__photo {
  width: 430px;
  height: 450px;
}

.lots__button {
  margin: 0 0 0 90px;
  color: black;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: underline;
}

.about {
  display: flex;
  margin: 0 0 180px 0;
}

.about__logo {
  margin-left: 144px;
  width: 1120px;
  height: 244px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about__column {
  display: flex;
  flex-direction: column;
  margin: 102px 44px 0 122px;
}

.about__title {
  margin-bottom: 100px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__paragraph {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 25px 0;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.footer {
  margin: 0 50px 90px;
  display: flex;
  justify-content: space-between;
}

.info_place_footer {
  width: 240px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2px;
}

.footer__menu-link {
  color: black;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__icon {
  width: 48px;
  height: 48px;
  margin: 0 48px 0 0;
}

.footer__icon:last-of-type {
  margin-right: 0;
}

.accent {
  text-decoration: underline;
  text-underline-position: under;
}