.page {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.header {
  max-width: 1340px;
  margin: 90px 50px 92px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-weight: 400;
}

.header__logo-container {
  width: 135px;
  margin-right: 147px;
}

.header__logo {
  width: 135px;
  height: 104px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  margin: 43px 0px 0px 2px;
}

.header__link {
  display: list-item;
  color: black;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  list-style: circle;
  margin-right: 32px;
}

.link_active {
  list-style: none;
  text-decoration: none;
}

.header__link:last-of-type {
  margin-right: 0;
}

.info {
  font-style: unset;
  width: 240px;
}

.info_place_header {
  margin-top: 5px;
}

.info__paragraph {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.cover {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 173px 50px 50px 50px;
  background-color: #a7a7a7;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover__description-text {
  margin-right: 80px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17.4px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.bet-button:hover {
  transform: scale(1.03);
}

.lots {
  padding: 178px 10px 50px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 28px;
  list-style: none;
}

.lots__card-list-item {
  margin-right: 25px;
  min-height: 563px;
  max-width: 334px;
}

.lots__card-list-item:last-child {
  margin-right: 0;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.lots__look-more-link:hover {
  text-underline-offset: 7px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: flex;
  margin: 128px 0 180px 0;
}

.about__logo {
  margin-left: 72px;
  min-width: 240px;
  height: 242px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  background-image: url(../images/logo-column.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.about__column {
  display: flex;
  flex-direction: column;
  margin: 104px 50px 0 70px;
}

.about__title {
  margin-bottom: 100px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__paragraph {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 25px 0;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.footer {
  margin: 0 50px 90px;
  display: flex;
  justify-content: space-between;
}

.info_place_footer {
  width: 240px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2px;
}

.footer__menu-link {
  color: black;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__social-link {
  display: block;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-items: top;
  gap: 0px 48px;
  list-style: none;
}